
<h4>Rented tapes</h4>
<form id="filter" class="navbar-form navbar-left">
  <div class="form-group">
    <label>Filter by title: </label>
    <input name="title" type="text" class="form-control" [(ngModel)]="term" />
  </div>
  <div class="form-group">
    <label>Filter by borrower: </label>
    <input name="borrower" type="text" class="form-control" [(ngModel)]="termBorrower" />
  </div>
</form>
<table class="table table-hover">
  <thead>
    <tr>
      <th>id <span (click)="setSortBy('id')" class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
      <th>title <span (click)="setSortBy('title')" class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
      <th>borrower <span (click)="setSortBy('borrower')" class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
      <th>borrow date <span (click)="setSortBy('borrow_date')" class="glyphicon glyphicon-sort" aria-hidden="true"></span></th>
      <th>status</th>
      <th>return</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tape of dataService.tapes | rented | filter: term | filterBorrower: termBorrower | sortBy: sortParam">
      <td>{{tape.id}}</td>
      <td>{{tape.title}}</td>
      <td>{{tape.borrower}}</td>
      <td>{{tape.borrow_date | date:'yyyy-MM-dd'}}</td>
      <td>{{tape.status}}</td>
      <td><span (click)="selectTape(tape)" data-toggle="modal" data-target="#returnTapeModal" class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></td>
    </tr>
  </tbody>
</table>
<app-return-modal [tape]="selectedTape"></app-return-modal>
