
<h4>{{pageTitle}} <span data-toggle="modal" data-target="#addTapeModal" class="glyphicon glyphicon-plus" aria-hidden="true"></span> add new tape</h4>
<form id="filter" class="navbar-form navbar-left">
  <div class="form-group">
    <label>Filter by title: </label>
    <input name="title" type="text" class="form-control" [(ngModel)]="term" />
  </div>
</form>
<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>release date</th>
      <th>rating</th>
      <th>status</th>
      <th>info</th>
      <th>rent</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tape of dataService.getTapes() | filter: term">
      <td class="tapeId">{{tape.id}}</td>
      <td class="tapeTitle">{{tape.title}}</td>
      <td class="tapeYear">{{tape.year}}</td>
      <td class="tapeRating">{{tape.rating}} <span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
      <td class="tapeStatus">{{tape.status}}</td>
      <td class="tapeDetails"><span (click)="selectTape(tape)" data-toggle="modal" data-target="#tapeInfoModal" class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></td>
      <td class="tapeBorrow"><span *ngIf="tape.status == 'free'" (click)="selectTape(tape)" data-toggle="modal" data-target="#borrowTapeModal" class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></td>
    </tr>
  </tbody>
</table>

<app-details [tape]="selectedTape"></app-details>
<app-borrow-modal [tape]="selectedTape"></app-borrow-modal>

<!-- Add new modal -->
<div class="modal fade" id="addTapeModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add new tape</h4>
      </div>
      <div class="modal-body">
        <!-- Add tape form -->
        <form #addTapeForm='ngForm' class="navbar-form navbar-left">
          <div>
            <label>Title: </label>
            <input required="true" minlength=2 maxlength=25 name="title" type="text" class="form-control" [(ngModel)]="title" #movieTitle="ngModel" />
            <div [hidden]="movieTitle.valid || movieTitle.pristine" class="alert alert-danger">
            Movie title must be at least 2 characters long
            </div>
            <label>Release date: </label>
            <input required="true" min=1900 max=2050 name="year" type="number" class="form-control" [(ngModel)]="year" />
            <label>Link to image: </label>
            <input required="true" name="image" type="url" class="form-control" [(ngModel)]="image" />
          </div>
          <div>
            <label>Description: </label>
            <textarea #movieDescription="ngModel" required="true" minlength=20 maxlength=500 name="description" class="form-control" rows="7" cols=28 id="comment" [(ngModel)]="description"></textarea>
            <div [hidden]="movieDescription.valid || movieDescription.pristine" class="alert alert-danger">
            Description must be at least 20 characters long
            </div>
          </div>
          <button [disabled]="!addTapeForm.form.valid" class="btn btn-warning" (click)="addTape(title, year, image, description)" data-dismiss="modal">Add tape</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
